.container {
  display: flex;
  flex-direction: column;
  width: 100%;

}
.container a img {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #71eb85;
  border-radius: 100%;
  padding: 10px
}

.introduccion {
  display: flex;
  width: 100%;
  height: 70vh;
  background-color:#7DD0D4
}

.introduccion img {
  aspect-ratio: 16/9;
  height: 80%;
  width: 60%;
  align-self: flex-end
}

.introduccion article {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: 100px;
}

.introduccion article h1 {
  color: white;
  width: 80%;
  font-size: 65px;
  font-weight: 400;
}

.introduccion span {
  color: white;
  width: 100%;
  font-size: 25px;
  font-weight: 400;
  margin-left:  120px
}


.introduccion article a {
  padding: 20px;
  border-radius: 30px ;
  border: 2px solid white;
  background: rgba(0,0,0, 0.0);
  color: white;
  font-weight: bold;
  font-size:  15px;
  margin-top: 20px;
  text-decoration: none
}

.introduccion article a:hover {
  background-color: white;
  color: #7DD0D4;
  cursor: pointer

}

.about {
  display: flex;
  width: 100%;
  height: 600px;
  padding-top: 30px
}

.text {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 30%
}

.text h1 {
  font-size: 30px;
  margin-bottom: 30px

}

.text p {
 font-size: 18px;
  width: 100%
}

.images {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.images img {
  height: 90%;
  width: 45%;
  background-size: cover
}

.coments {
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px
}

.coments div {
  display: flex;
  text-align: center;
  margin-top: 50px
}


.coments div article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%
}


.coments div article span {
  font-weight: bold;
  font-size: 16px;
}

.coments div article p {
  font-size: 15px;
  color: #6B6868;
  width: 80%
}




